.idea

maria-dependency-authentication/target
maria-dependency-constant/target
maria-dependency-domain/target
maria-dependency-interface/target
maria-dependency-log/target
maria-dependency-snowflake/target
maria-dependency-util/target

maria-service-authentication/target
maria-service-dashboard/target
maria-service-gateway/target
maria-service-log/target
maria-service-socket/target
maria-service-system/target
maria-service-init/target
maria-service-job/target

maria-ui/.idea
maria-ui/node_modules
maria-ui/dist
