<?xml version="1.0" encoding="UTF-8"?>

<!--Copyright 2023 the original author, Lam Tong-->

<!--Licensed under the Apache License, Version 2.0 (the "License");-->
<!--you may not use this file except in compliance with the License.-->
<!--You may obtain a copy of the License at-->

<!--      http://www.apache.org/licenses/LICENSE-2.0-->

<!--Unless required by applicable law or agreed to in writing, software-->
<!--distributed under the License is distributed on an "AS IS" BASIS,-->
<!--WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.-->
<!--See the License for the specific language governing permissions and-->
<!--limitations under the License. -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lamtong.maria.system.mapper.DictionaryMapper">

    <resultMap id="BaseResultMap" type="io.github.lamtong.maria.domain.entity.Dictionary">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="dictionaryLabel" column="dictionary_label" jdbcType="VARCHAR"/>
        <result property="dictionaryValue" column="dictionary_value" jdbcType="VARCHAR"/>
        <result property="dictionaryType" column="dictionary_type" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="cssClass" column="css_class" jdbcType="VARCHAR"/>
        <result property="isDefault" column="is_default" jdbcType="INTEGER"/>
        <result property="enabled" column="enabled" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,dictionary_label,dictionary_value,
        dictionary_type,order_num,description,
        remark,css_class,is_default,
        enabled,version,deleted,
        create_time,create_user,update_time,
        update_user
    </sql>

</mapper>
